body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited, a:after {
  text-decoration: none !important;
  color: inherit !important;
}

.page-txt {
  font-family: sans-serif;
}

@keyframes image-change {
  0%   {background-image: url(../img/IMG_4265.JPG)}
  10%  {background-image: url(../img/IMG_4265.JPG)}
  20%  {background-image: url(../img/fishscale-home.jpg)}
  30%  {background-image: url(../img/fishscale-home.jpg)}
  40%  {background-image: url(../img/IMG_236B.jpg)}
  50%  {background-image: url(../img/IMG_236B.jpg)}
  60%  {background-image: url(../img/cup-set-bleeding.jpg)}
  70%  {background-image: url(../img/cup-set-bleeding.jpg)}
  80%  {background-image: url(../img/IMG_2365.jpg)}
  90%  {background-image: url(../img/IMG_2365.jpg)}
  100% {background-image: url(../img/IMG_4265.JPG)}
}
@keyframes clear-image-change {
  0%   {background-image: url(../img/IMG_4265-clear.png)}
  10%  {background-image: url(../img/IMG_4265-clear.png)}
  20%  {background-image: url(../img/fishscale-home-clear.png)}
  30%  {background-image: url(../img/fishscale-home-clear.png)}
  40%  {background-image: url(../img/IMG_236B-clear.png)}
  50%  {background-image: url(../img/IMG_236B-clear.png)}
  60%  {background-image: url(../img/cup-set-bleeding-clear.png)}
  70%  {background-image: url(../img/cup-set-bleeding-clear.png)}
  80%  {background-image: url(../img/IMG_2365-clear.png)}
  90%  {background-image: url(../img/IMG_2365-clear.png)}
  100% {background-image: url(../img/IMG_4265-clear.png)}
}

#main-header {
  cursor: pointer;
}

#home-image {
  /*border: 1px solid yellow;*/
  height: 346px;
  width: 518px;
  background-size: cover;
  margin: 0;
  background-repeat: no-repeat;
  animation: image-change 30s infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

#top-nav {
  width: 100%;
  height: 65px;
  position: relative;
  background-color: white;
  /*top: 50%;*/
  /*transform: translateY(-25%);*/
  /*border: 1px solid blue;*/
  font-family: serif;
  font-weight: 500;
}

#top-nav ul {
  position: absolute;
  right: 15px;
  top: 15px;
  margin: 10px;
  padding: 0;
  /*border: 1px solid green;*/
  display: inline-block;
  vertical-align: middle;
}

#top-nav h1 {
  display: inline-block;
  text-align: center;
  margin: 15px 15px 0;
  /*border: 1px solid pink;*/
  font-weight: 300;
  font-size: 28px;
  text-transform: uppercase;
}

#top-nav li {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 50px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}
/*
#logo {
  margin: 0;
  border: 1px solid red;
  height: 100px;
}*/

.head1 {
  /*border: 1px solid orange;*/
  text-align: center;
  margin-top: 50px;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 24px;
}

#top-nav ul a:hover {
  text-decoration: underline !important;
  text-decoration-style: solid;
}

#top-nav ul a.active {
  text-decoration: underline !important;
  text-decoration-style: double !important;
}

#contact-image {
  /*border: 1px solid yellow;*/
  height: 300px;
  width: 300px;
  margin: 0;
  background: url(../img/spiral-momona-bowl-top.JPG);
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-65%) translateX(-50%);
}

.contact-txt {
  line-height: 2;
  /*border: 1px solid maroon;*/
  position: absolute;
  left: 50%;
  bottom: 20%;
  transform: translateX(-50%);
}

.about-content {
  width: 80%;
  max-width: 775px;
  margin: 100px auto 25px;
  text-indent: 50px;
  line-height: 1.5;
}



@media screen and (max-width: 775px) {
  #top-nav ul {
    width: 90%;
    padding: 0;
    /*border: 1px solid green;*/
    display: block;
    margin: 25px auto;
    text-align: justify;
    position: static;
  }
  #top-nav ul:after {
    content: '';
    display: inline-block;
    width: 100%;
  }

  #top-nav h1 {
    display: block;
    text-align: center;
    margin: 15px 15px 0;
    /*border: 1px solid pink;*/
    font-weight: 300;
    font-size: 24px;
    text-transform: uppercase;
  }
  #top-nav li {
    display: inline-block;
    vertical-align: bottom;
    margin: 5px 9px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .head1 {
    /*border: 1px solid orange;*/
    text-align: center;
    margin-top: 50px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
  }

  .about-content {
    width: 80%;
    max-width: 775px;
    margin: 50px auto;
    text-indent: 50px;
    line-height: 1.5;
  }
}
