body {
  margin: 0;
}

#top-nav {
  width: 100%;
  position: absolute;
  top: 50%;
  /*transform: translateY(-25%);*/
  /*border: 1px solid blue;*/
  font-family: serif;
  font-weight: bold;
}

#top-nav ul {
  margin: 10px;
  padding: 0;
  /*border: 1px solid green;*/
}

#top-nav h1 {
  text-align: center;
  margin: 0;
  /*border: 1px solid pink;*/
  font-weight: 300;
  font-size: 40px;
  text-transform: uppercase;
}

#top-nav li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

#logo {
  margin: 0;
  /*border: 1px solid red;*/
  height: 100px;
}