body {
  margin: 0;
}

@keyframes image-change {
  0%  {background-image: url(../img/homepage1.jpg)}
  15% {background-image: url(../img/homepage2.jpg)}
  30% {background-image: url(../img/homepage4.png)}
  45% {background-image: url(../img/homepage5.jpg)}
  55% {background-image: url(../img/homepage6.jpg)}
  70% {background-image: url(../img/homepage7.jpg)}
  80% {background-image: url(../img/homepage8.jpg)}
  90% {background-image: url(../img/homepage9.jpg)}

}

#home-images {
  /*border: 1px solid yellow;*/
  background-size: cover;
  height: 50vh;
  animation: image-change 60s infinite;
}

#top-nav {
  width: 100%;
  position: absolute;
  top: 50%;
  /*transform: translateY(-25%);*/
  /*border: 1px solid blue;*/
  font-family: serif;
  font-weight: bold;
}

#top-nav ul {
  margin: 10px;
  padding: 0;
  /*border: 1px solid green;*/
}

#top-nav h1 {
  text-align: center;
  margin: 0;
  /*border: 1px solid pink;*/
  font-weight: 300;
  font-size: 40px;
  text-transform: uppercase;
}

#top-nav li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

#logo {
  margin: 0;
  /*border: 1px solid red;*/
  height: 100px;
}