body {
  margin: 0;
}

@keyframes image-change {
  0%   {background-image: url(../img/IMG_2367.jpg)}
  10%  {background-image: url(../img/IMG_2367.jpg)}
  20%  {background-image: url(../img/IMG_2368.jpg)}
  30%  {background-image: url(../img/IMG_2368.jpg)}
  40%  {background-image: url(../img/IMG_2369.jpg)}
  50%  {background-image: url(../img/IMG_2369.jpg)}
  60%  {background-image: url(../img/IMG_4265.jpg)}
  70%  {background-image: url(../img/IMG_4265.jpg)}
  80%  {background-image: url(../img/IMG_2365.jpg)}
  90%  {background-image: url(../img/IMG_2365.jpg)}
  100% {background-image: url(../img/IMG_2367.jpg)}
}

#home-image {
  /*border: 1px solid yellow;*/
  height: 346px;
  width: 518px;
  background-size: cover;
  margin: 0;
  background-repeat: no-repeat;
  animation: image-change 30s infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

#top-nav {
  width: 100%;
  height: 65px;
  position: relative;
  background-color: white;
  /*top: 50%;*/
  /*transform: translateY(-25%);*/
  /*border: 1px solid blue;*/
  font-family: serif;
  font-weight: 500;
}

#top-nav ul {
  position: absolute;
  right: 15px;
  top: 15px;
  margin: 10px;
  padding: 0;
  /*border: 1px solid green;*/
  display: inline-block;
  vertical-align: middle;
}

#top-nav h1 {
  display: inline-block;
  text-align: center;
  margin: 15px 15px 0;
  /*border: 1px solid pink;*/
  font-weight: 300;
  font-size: 28px;
  text-transform: uppercase;
}

#top-nav li {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 50px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}
/*
#logo {
  margin: 0;
  border: 1px solid red;
  height: 100px;
}*/